/*This is how to write comments in the cascading style sheet*/
/*This is called a cascading style sheet. The name of this file is "styles.css"*/

/*The section below defines the styling for the body of the webpage*/
body {
    font-family: Arial, Helvetica, sans-serif;  /*This sets the font family to "Arial"*/
    margin: 0;                  /*This sets the margin to 0 pixels*/
    padding: 0;                 /*This sets the padding to 0 pixels*/
    box-sizing: border-box;     /*This sets the box size to the border-box*/
    background: wheat;        /*This sets the background colour to wheat*/
}

/*The section below defines the styling for the header of the webpage*/
header {
    background: #333;       /*This sets the background colour of the header to slate*/
    color: white;            /*This sets the text colour to white*/
    display: flex;             /*This makes the header space to flexible so it adjusts to fit any screen width*/
    justify-content: space-between; /*This inserts horizontal spacing between the header items*/
    padding: 10px 20px;        /*This pads the top of the header with 10px and the right with 20px*/
    align-items: center;        /*This aligns the item vertically in the center*/
}

/*The section below defines the styling for the heading h1 in the division */
header #logo h1 {
    margin: 0;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.my-photos {
    height: 300px;
    width: 300px;
}

section {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

section#main .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    font-size: 24px;
    font-weight: normal;
    margin-right: 20px;
    text-align: left;
}

.images img {
    height: 200px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.5);
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.project img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.1);
}

footer {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

footer .social-links a {
    color: lightblue;
    text-decoration: none;
    margin-right: 10px;
}

.go-up a {
    color: blue;
    align-items: end;
    text-decoration: none;
}